

.container {
  width: 80%;
  background-color: #ddd;
  margin-left: 90px;
}

.skills {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
}
.body
{
  margin: 100px;
    padding: 10px;
}
.python {width: 40%; background-color: #04AA6D;}
.css {width: 50%; background-color: #2196F3;}
.c {width: 30%; background-color: #f44336;}
.html {width: 60%; background-color: #808080;}
.jv {width: 20%; background-color: #a0b105;}